VITE_API_BASE=https://api.SEUDOMINIO.com/api/supabase
VITE_DEPOSIT_API_BASE=https://api.SEUDOMINIO.com/api/deposit
VITE_PLAYFIVERS_API_BASE=https://api.SEUDOMINIO.com/api/v2
VITE_GAME_LAUNCH_URL=https://api.SEUDOMINIO.com/api/game_launch
